nav {
  background-color: black; }
  nav .menu {
    list-style: none;
    width: 500px; }
    nav .menu__item {
      font-size: 3rem; }
      nav .menu__item__link {
        text-decoration: none;
        color: white; }
    nav .menu__item:hover {
      background-color: red; }

a {
  font-size: 36px; }

aside {
  font-size: 36px; }
