
body{
  background-color: greenyellow;
}

.container-mt-5 {
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
}

.logo {
  width: 150px;
  object-fit: cover;
}

.bg-nav {
  background-color:coral;
}


.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.navbar-toggler-icon {
  background-color: red;
}
