
//** sintaxis scss con bem **

nav {
    background-color: black;
    .menu {
        list-style: none;
        width: 500px;
        &__item {
            font-size: 3rem;
            &__link {
                text-decoration: none;
                color: white;
            }
        }
        &__item:hover {
            background-color: red;
        }      
    }
}

// variables
$font-medium: 36px;
$bg-principal: black;
$max-width: 1288px;
$font-principal: "monserrat", sans-serif;


a {
    font-size: $font-medium;
}
 
aside {
    font-size: $font-medium;
}


// imports

@import "./utilities/variables";
@import "./utilities/condicionales";
@import "./utilities/bucles";
@import "./utilities/maps";
@import "./utilities/mixins";

// import components
@import "./components/buttons";
@import "./components/grilla";

// import views

@import "../views/home";
@import "../views/conocenos";
@import "../views/contacto";
@import "../views/mediosdepago";
@import "../views/mercadocircular";
@import "../views/preguntas";
@import "../views/productos";
